#过滤不提交的文件和文件夹

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build	
/captures
.idea
gradle
/build
/src/test/
/src/androidTest

.classpath
.project
*.apk
*.ap_
*.dex
*.class
bin/
gen/
/out/
local.properties
.settings/
proguard/
*.log
*.jks 